

@{
    ViewBag.Title = "_DDLOpciones";
}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Animal", "Index", "Animals")</li>
        <li>@Html.ActionLink("Raza", "Index", "Razas")</li>
        <li>@Html.ActionLink("Especie", "Index", "Especies")</li>
        <li>@Html.ActionLink("Tamanio", "Index", "Tamanios")</li>
        <li>@Html.ActionLink("Veterinarias", "Index", "Veterinarias")</li>
        <li>@Html.ActionLink("ProductosVeterinarios", "Index", "ProductoVeterinarias")</li>
        <li>@Html.ActionLink("Atencion Medica", "Index", "AtencionMedicas")</li>        
        
        
</ul>
</li>
