@model AERHiPets.Models.GestionAnimal.Especie
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 fondo textoParrafo centrarContenido">
        @{
            ViewBag.Title = "Nueva Especie";
        }

        <h2 class="textoTitulo"><strong>Nueva Especie</strong></h2>
@using (Html.BeginForm())
                    {
    @Html.AntiForgeryToken()
        <div class="container">
            <div class="row textoParrafo">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">


                        <div class="form-horizontal">
                            <div class="alert alert-info">
                                <strong>Completar los datos con asterisco!</strong>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>

                            <!--DATOS DE REGISTRO DE ESPECIE-->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10" align="left">

                                <div class="form-group form-inline">
                                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" })
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar nombre especie" } })
                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                    </div>
                                    *
                                </div>

                                <div class="form-group form-inline">
                                    @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" })
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingresar breve descripción" } })
                                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--BOTON GUARDAR ESPECIE-->
                    <div class="container">
                        <div class="row" align="center">
                            <div class="form-group">
                                <div class="col-md-10 centrarContenido">
                                    <input type="submit" value="Guardar" class="btn btn-danger btn-lg btn-block set-bk-clr colorBase textoMenu" />
                                </div>
                            </div>
                        </div>
                        <div class="row" align="right">
                            <div class="col-lg-10 col-md-10">
                                @Html.ActionLink("Ir a la lista", "Index")
                            </div>
                        </div>
                    </div>
            </div>
        </div>
}
    </div>
</div>
                        
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
