@model IEnumerable<AERHiPets.Models.GestionAnimal.ProductoVeterinaria>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 fondo textoParrafo centrarContenido">
        @{
            ViewBag.Title = "Productos Veterinarios";
        }

        <h2 class="textoTitulo"><strong>Productos Veterinarios</strong></h2>

        <p>
            @Html.ActionLink("Nuevo Producto", "Create")
        </p>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    @Html.DisplayNameFor(model => model.nombre)
                                </th>

                                <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    @Html.DisplayNameFor(model => model.descripcion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>

                                    <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </td>
                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

