@model AERHiPets.Models.GestionIncidentes.Incidente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Incidente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especie.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.raza.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raza.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tamanio.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tamanio.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoIncidente.tipoIncidente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoIncidente.tipoIncidente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAlta)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            @if (Model.Files.Any(f => f.FileType == AERHiPets.Models.GestionIncidentes.FileTypeIncidente.Avatar))
            {
                <div class="form-group">

                    <div class="col-md-10">
                        <img src="~/FileIncidentes?id=@Model.Files.First(f => f.FileType == AERHiPets.Models.GestionIncidentes.FileTypeIncidente.Avatar).FileIncidenteId" alt="avatar" width="640" height="480" />
                    </div>
                </div>
            }
          
        </dd>
        
        


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
