@model IEnumerable<AERHiPets.Models.GestionIncidentes.Incidente>
@using Jmelosegui.Mvc.GoogleMap
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-group">
    <div class="col-md-6" id="map_canvas" style="width: 640px; height: 480px"> </div>
</div>

    <br> <br>

    <table class="table control" id="myTable">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Especie.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.raza.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tamanio.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipoIncidente.tipoIncidente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.telefono)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.fechaAlta)
                </th>               
                <th>
                    FOTO
                </th>  
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>

                <th>tamanio</th>

                <th>Especie</th>

                <th>raza</th>

                <th>tipoIncidente</th>
            </tr>
        </tfoot>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especie.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.raza.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tamanio.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoIncidente.tipoIncidente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaAlta)
                    </td>       
                    <td>
        @if (item.Files.Any(f => f.FileType == AERHiPets.Models.GestionIncidentes.FileTypeIncidente.Avatar))
        {
            <img src="~/FileIncidentes?id=@item.Files.First(f => f.FileType == AERHiPets.Models.GestionIncidentes.FileTypeIncidente.Avatar).FileIncidenteId" alt="avatar" height="50" width="50" />

        }
    </td>          
                    
                    <td>
                        @if (User.Identity.GetUserId() != null) {
                            if (User.Identity.GetUserId() == item.VoluntarioUsrId || User.IsInRole("Administrador") ) {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            }
                        } |                        
                        @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @(Html.GoogleMap().ScriptRegistrar())
        @*Scripts.Render("~/Scripts/DDLRazaEspIncidente.js")*@
<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>

<script>

    var geocoder;
    var map;
    var marker;
    var markers = [];
    var url = ['http://gmaps-samples.googlecode.com/svn/trunk/markers/blue/blank.png',
        'http://gmaps-samples.googlecode.com/svn/trunk/markers/orange/blank.png',
        'http://gmaps-samples.googlecode.com/svn/trunk/markers/red/blank.png',
        'http://gmaps-samples.googlecode.com/svn/trunk/markers/green/blank.png'];

    $(document).ready(function () {

        crearMapa();
    });

    function crearMapa() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-31.417321454065778, -64.18382406234741);
        var opc = {
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), opc);

        function sleep(delay) {
            var inicio = new Date().getTime();
            while (new Date().getTime() < inicio + delay);
        }
        function createCluster() {
            markerCluster = new MarkerClusterer(map, markers);
        }

        $.getJSON('/Incidentes/getLatLng', function (data) {
            for (i = 0; i <= data.length; i++) {
                var latitude = parseFloat(data[i].lat);
                var longitude =  parseFloat(data[i].lng);
                var myLatLng = { lat: latitude, lng: longitude };
                marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: data[i].descripcion,
                   
                });

                var infowindow = new google.maps.InfoWindow({
                    content: data[i].descripcion
                });
                
                google.maps.event.addListener(marker, 'click', function (event) {
                    infowindow.open(map, marker)
                });
                markers.push(marker);
                
                

            }
            setTimeout(createCluster, wait + 1000);
        });

    }


</script>




    }
