<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hi Pets!</title>
    <link href="~/content/datatables/css/jquery.datatables.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
        
</head>



<body style="background: #ffebdc">  
   
    
     <div id="fb-root"></div>
    
    <div class="navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hi Pets!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("~/Views/Shared/Partial/_DDLOpciones.cshtml")
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer style='background: #FAA505'></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/DatePickerSet.js")
   
    <script src="~/scripts/datatables/jquery.datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {    
            $('#myTable').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                        "oLanguage": {
                        "oAria": {
                            "sSortDescending": " - click/return to sort descending",                     
                            
                        },
                        'oPaginate': {
                            'sFirst': 'Primero',
                            'sPrevious': 'Anterior',
                            'sNext': 'Siguiente',
                            'sLast': 'Ultimo'
                        },
                        'sProcessing': 'Por favor espere..',
                        'sLengthMenu': 'Items por Pagina _MENU_',
                        'sZeroRecords': 'No data was found', 'sInfo': '_START_ to _END_ of _TOTAL_',
                        'sInfoEmpty': '0 to 0 of 0', 'sInfoFiltered': '(filtered of _MAX_)', 'sInfoPostFix': '',
                        'sSearch': 'Buscar',
                        'sUrl': ''
                    },                    

                });            
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
