@model IEnumerable<AERHiPets.Models.GestionUsuarios.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.direccion.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaBaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoCel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puntaje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.direccion.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoCel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puntaje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
