@model AERHiPets.Models.GestionAdopcionApadrinamiento.GestionAdopcion.Adopcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adopcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.direccion.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoAdopcion.estadoAdopcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoAdopcion.estadoAdopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAdopcion.tipoAdopcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAdopcion.tipoAdopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esTemporal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esTemporal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
