@model IEnumerable<AERHiPets.Models.GestionAdopcionApadrinamiento.GestionAdopcion.Adopcion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.direccion.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoAdopcion.estadoAdopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoAdopcion.tipoAdopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esTemporal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.direccion.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoAdopcion.estadoAdopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoAdopcion.tipoAdopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esTemporal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
