@model IEnumerable<AERHiPets.Models.GestionAdopcionApadrinamiento.GestionAdopcion.Adopcion>

@{
    ViewBag.Title = "Listado de Solicitudes";
}

<h2>Listado de solicitudes</h2>

<p>
    @Html.ActionLink("Nueva Solicitud", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.animal.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoAdopcion.nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.voluntarioName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empleadoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.esTemporal)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.animal.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estadoAdopcion.nombre)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.voluntarioName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.empleadoName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.fechaAlta)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.esTemporal)
                </td>
                <td>
                    @if (item.animal.Files.Any(f => f.FileType == AERHiPets.Models.GestionAnimal.GestionAnimalImagenes.FileType.Avatar))
                    {
                        <img src="~/File?id=@item.animal.Files.First(f => f.FileType == AERHiPets.Models.GestionAnimal.GestionAnimalImagenes.FileType.Avatar).FileId" alt="avatar" height="50" width="50" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                  @*  @Html.ActionLink("Borrar", "Delete", new { id = item.Id })*@                    
                </td>
            </tr>
        }
    </tbody>
</table>
