@model AERHiPets.Models.GestionAnimal.Animal

@{
    ViewBag.Title = "Nueva Mascota";
}

<h2>Nueva Mascota</h2>


@using (Html.BeginForm("Create", "Animals", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Animal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaNac, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaNac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaNac, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.caracteristicas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.caracteristicas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.caracteristicas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tamanioId, "Tamaño", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tamanioId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tamanioId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label for="especieId">Especie</label>
            </div>
            <div class="col-md-10">
                <select class="form-control" id="especieId" name="especieId">
                    <option value=""></option>
                </select>
                <a href="~/Especies/Create">Agregar Especie</a>
            </div>

        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.razaId, "Raza", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("razaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.razaId, "", new { @class = "text-danger" })
                <a href="~/Razas/Create">Agregar Raza</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.enAdopcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.enAdopcion)
                    @Html.ValidationMessageFor(model => model.enAdopcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
                
        <div class="form-group">
            @Html.Label("Subir Foto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" accept="image/*" />
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ir a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/DDLRazaEspecie.js")
    
}
