@model AERHiPets.Models.GestionAnimal.AtencionMedica
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 fondo textoParrafo centrarContenido">
        @{
            ViewBag.Title = "Informacion de la atención médica";
        }

        <h2 class="textoTitulo"><strong>Informacion de la atención médica</strong></h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col.sm-offset-1 col-xs-10 col-xs-offset-1">
                    <div class="form-horizontal">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.animal.nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.animal.nombre)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.productoVeterinaria.nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.productoVeterinaria.nombre)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.veterinaria.nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.veterinaria.nombre)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.tratamiento)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.tratamiento)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.nombreVeterinario)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nombreVeterinario)
                                </dd>

                            </dl>
                        </div>
                        
                    </div>
                </div>
                <div class="container" align="center">
                    <div class="col-md-10 centrarContenido">
                        @Html.ActionLink("Modificar Mascota", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Ir a la lista", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


