@model IEnumerable<AERHiPets.Models.GestionAnimal.AtencionMedica>

@{
    ViewBag.Title = "Atenciones Medicas";
}

<h2>Atenciones Medicas</h2>

<p>
    @Html.ActionLink("Nueva Atencion", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.animal.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productoVeterinaria.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veterinaria.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tratamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreVeterinario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.animal.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productoVeterinaria.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veterinaria.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tratamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreVeterinario)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Dar de Baja", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
